<div class="main-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Event Manager System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addEventModal">ADD EVENT</button>
          </div>
        </div>
    </nav>
  
  <!-- Add Event Modal -->
  <div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a new Event!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="eventDetail" autocomplete="off" >
                <div class="input-group mb-3">
                    <input type="text" formControlName="title" class="form-control" placeholder="Title">
                </div>

                <div class="input-group mb-3">
                    <input name="dpStart" formControlName="startDate" class="form-control" placeholder="Start Date" 
                    [(ngModel)]="startDateModel" ngbDatepicker #a="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="a.toggle()" type="button">
                        <i class="fa fa-calendar"></i></button>
                </div>

                <div class="input-group mb-3">
                    <input name="dpEnd" formControlName="endDate" class="form-control" placeholder="End Date" 
                    [(ngModel)]="endDateModel" ngbDatepicker #b="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="b.toggle()" type="button">
                        <i class="fa fa-calendar"></i></button>
                </div>

                <!--<button (click)="fetchDateSelected()">Fetch Date: </button>-->

                <div class="input-group mb-3">
                    <input type="number" formControlName="attendanceFee" class="form-control" placeholder="Attendance Fee">
                    <span class="input-group-text" style="width: 45px; justify-content: center;"> $</span>
                </div>

                <div class="input-group mb-3">
                    <input type="number" formControlName="maxQuantity"class="form-control" placeholder="Max Quantity">
                    <span class="input-group-text"><i class="fa fa-user-plus"></i></span>
                </div>

                <div class="input-group mb-3">
                    <textarea id="descriptionID" formControlName="description" class="form-control" aria-label="With textarea" placeholder="Description"></textarea>
                </div>
                
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="addEvent()">Save changes</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Event Modal -->
  <div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit an existing Event!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="eventDetail" autocomplete="off" >
                <div class="input-group mb-3">
                    <input type="text" formControlName="title" class="form-control" placeholder="Title">
          
                </div>

                <div class="input-group mb-3" >
                    <span class="input-group-text" id="basic-addon1" style="width: 130px; justify-content: center;">Old start date: </span>
                    <input type="text" class="form-control" formControlName="oldStartDate"/>
                    <input formControlName="startDate" class="form-control" placeholder="New Start Date" [(ngModel)]="startDateModel"
                    ngbDatepicker #c="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="c.toggle()" type="button">
                        <i class="fa fa-calendar"></i></button>
                </div>


                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1" style="width: 130px; justify-content: center;">Old end date: </span>
                    <input type="text" class="form-control" formControlName="oldEndDate"/>
                    <input formControlName="endDate" class="form-control" placeholder="New End Date" 
                    [(ngModel)]="endDateModel" ngbDatepicker #d="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                        <i class="fa fa-calendar"></i></button>
                </div>

                <div class="input-group mb-3">
                    <input type="number" formControlName="attendanceFee" class="form-control" placeholder="Attendance Fee">
                    <span class="input-group-text" style="width: 45px; justify-content: center;"> $</span>
                </div>

                <div class="input-group mb-3">
                    <input type="number" formControlName="maxQuantity"class="form-control" placeholder="Max Quantity">
                    <span class="input-group-text"><i class="fa fa-user-plus"></i></span>
                </div>

                <div class="input-group mb-3">
                    <textarea id="descriptionID" formControlName="description" class="form-control" aria-label="With textarea" placeholder="Description"></textarea>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="updateEvent()">Save changes</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>-->

    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Event ID</th>
          <th scope="col">Title</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Max Quantity</th>
          <th scope="col">Attendance Fee</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of eventList">
          <th>{{event.id}}</th>
          <td>{{event.title}}</td>
          <td>{{event.startDate}}</td>
          <td>{{event.endDate}}</td>
          <td>{{event.maxQuantity}}</td>
          <td>{{event.attendanceFee}}</td>
          <td>{{event.description}}</td>
          <td>
            <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editEventModal"
            (click)="editEvent(event)" >Edit</button>
            <button type="button" class="btn btn-outline-danger" (click)="deleteEvent(event)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

</div>